/* font-family: 'Handlee', cursive;
font-family: 'Kablammo', cursive;
font-family: 'Lora', serif;
font-family: 'Rubik Iso', cursive;
font-family: 'Rubik Pixels', cursive;
font-family: 'Tangerine', cursive; */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Lora', serif; */
}

.topnav{
    color: black;
    text-align: center;
    padding: 1px 2px;
    text-decoration: none;
    font-size: 17px;
    background-color: crimson;
}



body{
    font-family: 'Handlee', cursive;
}

.chris1{
    background-color: black;
    color: white;
    font-family: 'Kablammo', cursive;
    font-size: 2rem;
    margin: 1rem;
    color: blue;

}
.chris2{
    background-color: black;
    color: white;
    font-family: 'Tangerine', cursive;

}
.chris3{
    background-color: black;
    color: white;
    font-family: 'Rubik Iso', cursive;

}

header{
    background-color: teal;
}

main{
    background: rgb(103,95,241);
    background: linear-gradient(155deg, rgba(103,95,241,1) 0%, rgba(107,226,247,1) 51%, rgba(0,247,255,1) 100%);
}

h1{
    font-family: 'Lora', serif;
    font-size: 2rem;
    margin: 1rem;
    color: blue;
}

h2{
    font-weight: bold;
}

section{
    border: 7px solid transparent;
    border-radius: 13px;
    width: 80%;
    margin: 1rem auto 0 auto;
    height: auto;
    position: static; 
    /* this is a static element and will only do the default */
}

article{
    border: medium solid black;
    margin: 1rem;
}

#one{
    width: 50%;
    background-color: #4CAF50;
    position: relative;
    right: 10%;
}

#two{
    width: 50%;
    background-color: black;
    color: white;
    position: relative;
    left: 50%;
}

#three{
    width: 50%;
    margin: 0;
    background-color: burlywood;
    position: fixed;
    left: 0;
    bottom: 0;
    transform: translateX(50%); /* to position it centered X axis */

}

.active{
    background-color: blueviolet;
    color: black;
}

.btn-main {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 0 auto;
}
.btn-main:hover {
    background-color: red;
    color: black;
}

.chrisbutton{
    background-color: transparent;
    color: transparent;
    border: transparent;
    position: sticky;
    top: 2rem;
    right: 2rem;
}

.isChris{
    background-color: #ee0404; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    position: sticky;
    top: 2rem;
    right: 2rem;
}

